* {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

nav ul {
    display: flex;
    margin: 0;
    padding-left: 0px;
    padding: 20px 0;
}

nav li {
    list-style: none;
}

li a {
    padding-left: 15px;
    text-decoration: none;
}

.add-pad {
    padding: 0 200px;
}

.img-div {
    display: flex;
    margin: 105px 0;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    align-items: space-between;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 112, 112);
    width: 50%;
    margin-bottom: 100px;
}

.button-div {
    width: 50%;
    padding-right: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 5px;
    font-weight: 700;
    border: 0px;
    padding: 5px 30px;
}

#push-right {
    margin-left: auto;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.some-random-information {
    flex-direction: column;
}

h2 {
    text-align: center;
}

.illustration-div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

figure {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
}

.illustration {
    height: 150px;
    width: 150px;
    border: #3882F6 solid 5px;
    border-radius: 10px;
}

figcaption {
    text-align: center;
}

.quote-div {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    text-align: right;
    font-weight: 700;
}

.call-to-action-div {
    margin: 50px 0 ;
}

.blue-box {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}

.blue-box-text {
    color: #F9FAF8;
}

h3 {
    margin-bottom: -15px;
}

.blue-box-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: #F9FAF8 solid 3px;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px 30px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 20px 0;
    color: #F9FAF8;
}

